$cp-orange: hsl(26, 100%, 55%);
$cp-pale-orange: hsl(25, 100%, 94%);

$cs-dark-blue: hsl(220, 13%, 13%);
$cs-dark-grayish-blue: hsl(219, 9%, 45%);
$cs-grayish-blue: hsl(220, 14%, 75%);
$cs-light-greyish-blue: hsl(223, 64%, 98%);
$cs-white: hsl(0, 0%, 100%);
$cs-black: hsl(0, 0%, 0%);